################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Locadora/bin
/Locadora/obj
/Locadora.DataAccess/bin
/Locadora.DataAccess/obj
/packages
/Locadora.SQL/obj
/Locadora.SQL/bin
/Locadora.SQL/Import Schema Logs
 

