<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Locadora.DataAccess.Properties.Settings.SamplesConnectionString"
            connectionString="Data Source=MARQUINHOS\SQLEXPRESS;Initial Catalog=Samples;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>